parameters:
    level: max
    paths:
        - src/
        - tests/
    ignoreErrors:
        - '~^Property GraphQL\\Doctrine\\Annotation\\Field::\$type \(string\) does not accept GraphQL\\Type\\Definition\\~'
        - '~^Instanceof between string and GraphQL\\Type\\Definition\\Type will always evaluate to false\.$~'
        - '~^Parameter #1 \$wrappedType of static method GraphQL\\Type\\Definition\\Type::~'
        - '~^Parameter #2 \$type of static method GraphQL\\Doctrine\\Utils::getOperatorTypeName~'
        - '~::__construct\(\) does not call parent constructor from GraphQL\\Doctrine\\Definition\\EntityID\.$~'
        - '~Property GraphQL\\Doctrine\\Annotation\\Field::\$description \(string\) does not accept string\|null\.$~'
        - '~^Parameter #1 \$method of method GraphQL\\Doctrine\\Factory\\AbstractFieldsConfigurationFactory\:\:getMethodFullName\(\) expects ReflectionMethod, ReflectionFunctionAbstract given\.$~'
        - '~^Parameter #3 \$param of method GraphQL\\Doctrine\\Factory\\InputFieldsConfigurationFactory\:\:completeField\(\) expects ReflectionParameter, ReflectionParameter\|false given\.$~'
        - '~^Parameter #1 \$driver of method Doctrine\\Common\\Persistence\\Mapping\\Driver\\MappingDriverChain\:\:setDefaultDriver\(\) expects Doctrine\\Common\\Persistence\\Mapping\\Driver\\MappingDriver, Doctrine\\Common\\Persistence\\Mapping\\Driver\\MappingDriver\|null given\.$~'
        - '~^Right side of && is always true\.$~'
