<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="graphql-doctrine tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <!-- Include only our own code for code coverage statistics -->
            <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>
